<form #optionsForm="ngForm">
  <md-input-container>
    <input name="beginDate" md-input type="date" [(ngModel)]="options.beginDate">
  </md-input-container>

  <md-input-container>
    <input name="endDate" md-input type="date" [(ngModel)]="options.endDate">
  </md-input-container>

  <button md-raised-button (click)="autoFit()">Auto-Fit</button>

  <md-checkbox name="highTemps" [(ngModel)]="options.highTemps">High Temps</md-checkbox>
  <md-checkbox name="lowTemps" [(ngModel)]="options.lowTemps">Low Temps</md-checkbox>
</form>
